.wrapper {
  --wrapper-width: 1200px;

  padding-right: calc(50vw - (var(--wrapper-width) / 2));
  padding-left: calc(50vw - (var(--wrapper-width) / 2));

  &--hasBackground {
    background-color: #f9fafb;
  }

  @media only screen and (min-width: 1280px) {
    --wrapper-width: 1216px;
  }

  @media only screen and (min-width: 1504px) {
    --wrapper-width: 1440px;
  }
}